.idea
/bin/
/config/
/public/
/.env
/.env.test
/phpunit.xml.dist
/symfony.lock
/src/Kernel.php

/src-symfony
/src-symfony/Controller/
/src-symfony/Entity/
/src-symfony/Migrations/
/src-symfony/Repository/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
